
header > h2, p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;

}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
  
main {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    grid-auto-flow: row dense;
}
  
#articlee h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
#articlee a,
#articlee a:visited {
    text-decoration: none;
    color: black;
}
  
#articlee img {
    width: 100%;
}

